.col-sm-8.col-sm-offset-2
  .page-header.clearfix
    .pull-left
      %h2 New product
    .pull-right
      .btn-group
        = link_to 'Back', category_products_path, class: 'btn btn-primary'

  = render 'form'
