%li.list-group-item
  .media
    .media-body
      %h4.media-heading
        - review.rating.times do
          %span.glyphicon.glyphicon-star
        - (5 - review.rating).times do
          %span.glyphicon.glyphicon-star-empty
      %em
        "#{review.content}"
      \-
      = succeed ',' do
        = link_to review.author, user_path(review.user)
      #{review.created_at.strftime("%d-%m-%Y")}
